/* Reset some default styles for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



textarea {
    height: 8em;
}


select#category {
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
}


/* Body styles */
body {
    background-color: #1fa2ff;
    /* Light blue background */
    font-family: 'Poppins', sans-serif;
    /* Use Poppins font for the entire page */
}

/* Container styles */
.container {
    width: 100%;
    max-width: 50em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Input area styles */
#new-task {
    position: relative;
    background-color: #fff;
    /* White background for the input area */
    padding: 1.8em 1.25em;
    border-radius: 0.3em;
    box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    height: 10em;
}


/* Input field styles */
#new-task input {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    padding: 0.8em 0.5em;
    color: #111111;
    font-weight: 500;
}

#new-task input:focus {
    outline: none;
    border-color: #0b87ff;
    /* Highlight border color on focus */
}

/* Add task button styles */
#new-task button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1em;
    background-color: #0b87ff;
    /* Blue button color */
    color: #ffffff;
    /* White text color */
    outline: none;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

button#push {
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
}

/* Task container styles */
#tasks {
    background-color: #fff;
    /* White background for task container */
    position: relative;
    padding: 1.8em 1.25em;
    /* Adjusted margin-top for tasks container */
    width: 100%;
    box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
    border-radius: 0 0.6em;
}

/* Task item styles */
.task {
    background-color: #fff;
    /* White background for task items */
    padding: 0.3em 0.6em;
    margin-top: 0.6em;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d1d3d4;
    cursor: pointer;
}

.task span {
    font-family: "Poppins", sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}

/* Action button styles for task items */
.task button {
    color: #ffffff;
    padding: 0.8em 0;
    width: 2.8em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Delete button styles */
.delete {
    background-color: #fb3b3b;
    /* Red delete button */
}

/* Edit button styles */
.edit {
    background-color: #0b87ff;
    /* Blue edit button */
    margin-left: auto;
    margin-right: 3em;
}

/* Toast notification styles */
.toast-notification {
    background-color: #333;
    /* Dark background for notifications */
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    bottom: 0;
    margin-bottom: 10px;
    /* Reduced margin for notifications */
    margin-left: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

/* Message container styles within notifications */
.message-container {
    width: 80%;
    padding-top: 13px;
    padding-left: 20px;
    font-family: 'Roboto';
    color: #fff;
    /* White text color for notifications */
}

/* Close button styles within notifications */
.close-notification {
    width: 20%;
}

.close-notification>i {
    padding-top: 15px;
    padding-left: 5px;
    font-weight: 900;
    color: #fff;
    /* White text color for close icon */
    cursor: pointer;
}

/* Button hover effect styles */
#new-task button:hover,
.edit:hover,
.delete:hover {
    background-color: #2980b9;
    /* Darker color on hover */
}

/* Chrome-like tab styles */
#tabList {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 10px;
    display: flex;
    background-color: #f2f2f2;
    padding: 8px 0;
    border-radius: 4px 4px 0 0;
}

.tab {
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 16px 16px 0 0;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 4px;
    transition: background-color 0.3s;
}

.tab:last-child {
    margin-right: 0;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

ul#tabList {
    list-style: none;
    padding: 0;
    margin: 0;
}